.mains {
    margin: 5rem auto;
    background: rgb(247, 247, 247);
    max-width: 1000px;
}


.contact {
    background: rgba(253, 239, 239, 0.336);
}

.buttonu {
    background: rgb(211, 134, 134);
    box-shadow: 0 0.5rem 1rem rgba(224, 3, 3, 0.15);
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: normal;
    height: 3.8rem;
    outline: none;
    text-decoration: none;
} 
