.navbar {
    box-shadow: $navbar-shadow;
    // background-color: $navbar-body-color;
    background: $navbar-body-color;
    color: $icon-bar !important;
    // height: 80px;
    z-index: 12;
    // @include transition(.3s);
    .navbar-brand {
        color: $base-color;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 1.5em;
        height: 60px;
        z-index: 12;
    }
    .nav-link {
        color: $navbar-text-clor;
        display: block;
        font-size: 0.9em;
        letter-spacing: 1px;
        &:hover, &.active {
            /* border-bottom: 1px solid rgb(28, 121, 184); */
            color: $base-color;
            transition: all 0.5s ease;
            -webkit-transition: all 0.3s ease;
        }
    }

    .collapse {
        transition: all 1000ms ease-in-out;
    }
    .navbar-social {
        display: flex;
        justify-content: center;
        .fab {
            font-size: 28px;
        }
    }
}

// .navigation {
//     box-shadow: $navbar-shadow;
//     // background-color: $navbar-body-color;
//     background: $navbar-body-color;
//     color: $icon-bar;
//     position: fixed;
//     top: 0;
//     height: 100px;
//     display: flex;
//     line-height: 60px;
//     width: 100vw;
//     z-index: 10;
//     .nav-wrapper {
//         margin: auto;
//         text-align: center;
//         width: 80%;
//     }
//     @media (max-width: 768px) {
//         .nav-wrapper {
//             width: 100%;
//         }
//     }
//     @media (max-width: 638px) {
//         .nav-wrapper {
//             width: 100%;
//         }
//     }
//     .logo {
//         float: left;
//         margin-left: 28px;
//         font-size: 1.5em;
//         height: 60px;
//         letter-spacing: 1px;
//         text-transform: uppercase;
//         z-index: 12;
//         a {
//             color: $base-color;
//         }
//     }

//     ul {
//         // display: inline-block;
//         list-style: none;
//         /* margin-right: 14px; */
//         margin-top: -2px;
//         text-align: right;
//         transition: transform 0.5s ease-out;
//         -webkit-transition: transform 0.5s ease-out;
//         li {
//             display: inline-block;
//             a {
//                 color: $navbar-text-clor;
//                 display: block;
//                 font-size: 0.9em;
//                 height: 50px;
//                 letter-spacing: 1px;
//                 margin: 0 20px;
//                 padding: 0 4px;
//                 position: relative;
//                 text-decoration: none;
//                 text-transform: uppercase;
//                 transition: all 0.5s ease;
//                 -webkit-transition: all 0.5s ease;
//                 &:hover {
//                     /* border-bottom: 1px solid rgb(28, 121, 184); */
//                     color: $base-color;
//                     transition: all 1s ease;
//                     -webkit-transition: all 1s ease;
//                 }
//                 &:before,
//                 &:after {
//                     content: "";
//                     position: absolute;
//                     width: 0%;
//                     height: 1px;
//                     bottom: -1px;
//                     background: $gray-100;
//                 }
//                 &:before {
//                     left: 0;
//                     transition: 0.5s;
//                 }
//                 &:after {
//                     background: $gray-100;
//                     right: 0;
//                     /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
//                 }
//                 &:hover:before {
//                     background: $gray-100;
//                     width: 100%;
//                     transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
//                 }
//                 &:hover:after {
//                     background: transparent;
//                     width: 100%;
//                     /* transition: 0s; */
//                 }
//             }
//         }
//     }
//     @media (orientation: landscape) {
//         .navigation ul {
//             display: inline-block;
//         }
//     }
// }
.navbar.scrolled, .navbar.active {
    background: $gray-100;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    // height: 60px;
    // border: 1px solid $border;
    ul li a {
        color: $gray-800;
    }
}

/*======================================================
                    Mobile Menu Menu Icon
  ======================================================*/
@include media-breakpoint-down(lg) {
    .logo.logo-active {
        z-index: 12;
        a {
            color: $gray-900;
        }
    }
    .menuIcon {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 15px;
        top: 20px;
        height: 23px;
        width: 27px;
        z-index: 12;
    }
    /* Icon Bars */
    .icon-bars {
        background: $icon-bar;
        position: absolute;
        left: 1px;
        top: 45%;
        height: 2px;
        width: 20px;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .icon-bars::before {
        background: $icon-bar;
        content: "";
        position: absolute;
        left: 0;
        top: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    .icon-bars::after {
        margin-top: 0px;
        background: $icon-bar;
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        height: 2px;
        width: 20px;
        /*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
        -webkit-transition: 0.3s width 0.4s;
        transition: 0.3s width 0.4s;
    }

    /* Bars Shadows */
    .icon-bars.overlay {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 20px;
        animation: middleBar 3s infinite 0.5s;
        -webkit-animation: middleBar 3s infinite 0.5s;
    }
    @keyframes middleBar {
        0% {
            width: 0px;
        }
        50% {
            width: 20px;
        }
        100% {
            width: 0px;
        }
    }
    @-webkit-keyframes middleBar {
        0% {
            width: 0px;
        }
        50% {
            width: 20px;
        }
        100% {
            width: 0px;
        }
    }

    .icon-bars.overlay::before {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 10px;
        animation: topBar 3s infinite 0.2s;
        -webkit-animation: topBar 3s infinite 0s;
    }
    @keyframes topBar {
        0% {
            width: 0px;
        }
        50% {
            width: 10px;
        }
        100% {
            width: 0px;
        }
    }
    @-webkit-keyframes topBar {
        0% {
            width: 0px;
        }
        50% {
            width: 10px;
        }
        100% {
            width: 0px;
        }
    }

    .icon-bars.overlay::after {
        background: rgb(97, 114, 129);
        background: rgb(183, 199, 211);
        width: 15px;
        animation: bottomBar 3s infinite 1s;
        -webkit-animation: bottomBar 3s infinite 1s;
    }
    @keyframes bottomBar {
        0% {
            width: 0px;
        }
        50% {
            width: 15px;
        }
        100% {
            width: 0px;
        }
    }
    @-webkit-keyframes bottomBar {
        0% {
            width: 0px;
        }
        50% {
            width: 15px;
        }
        100% {
            width: 0px;
        }
    }

    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
        top: 5px;
        transform: translate3d(0, 5px, 0) rotate(135deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars::before {
        top: 0;
        transition-delay: 0.1s;
        opacity: 0;
    }

    .menuIcon.toggle .icon-bars::after {
        top: 10px;
        transform: translate3d(0, -10px, 0) rotate(-270deg);
        transition-delay: 0.1s;
        transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .menuIcon.toggle .icon-bars.overlay {
        width: 20px;
        opacity: 0;
        -webkit-transition: all 0s ease 0s;
        transition: all 0s ease 0s;
    }
}

/*======================================================
                   Responsive Mobile Menu 
  ======================================================*/
.overlay-menu {
    background: #ffafbd; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ffafbd,
        #ffc3a0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffafbd, #ffc3a0);
    color: $icon-bar;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 15px;
    // transform: translateX(-100%);
    // width: 100vw;
    // height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    z-index: 11;
    ul,
    li {
        display: block;
        position: relative;
    }
    li a {
        display: block;
        font-size: 1.8em;
        letter-spacing: 4px;
        /*   opacity: 0; */
        padding: 10px 0;
        text-align: right;
        text-transform: uppercase;
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
        /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
  transition: 0.2s opacity 0.2s ease-out; */
    }
    &:hover,
    &:active {
        color: rgb(28, 121, 184);
        -webkit-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }
}
